export("davies.moment", "davies.start", "ddavies", "ddavies.p",
"dgld", "dgld.p", "expected.gld", "expected.gld.approx",
"expected.value", "expected.value.approx", "fit.davies.p",
"fit.davies.q", "kurtosis", "least.squares", "likelihood", "M",
"maximum.likelihood", "mu", "neg.log.likelihood", "objective",
"objective.approx", "pdavies", "pgld", "plotcf", "qdavies", "qgld",
"rdavies", "rgld", "rstupid", "skewness", "twolines.vert", "variance")

importFrom("graphics", "lines", "plot", "points", "segments")
importFrom("stats", "optim", "quantile", "rbinom", "runif", "uniroot")
